<div class="container">
<ul class="nav navbar-nav font-weight-bold p-5" style="margin-bottom:100px;">
	<li class="nav-item p-2">Peshawar Branch Number : 03455555555</li>
	<li class="nav-item p-2">Swat Branch Number : 0344444444</li>
	<li class="nav-item p-2">Islamabad Branch Number : 03456666666</li>
</ul>
